@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic|Voces|Droid+Sans:400,700|Pompiere|Poiret+One|Waiting+for+the+Sunrise|Ovo|Julius+Sans+One|Open+Sans:300italic,400italic,400|Pontano+Sans");
@import url("http://fonts.googleapis.com/css?family=Nobile|Julius+Sans+One|Inconsolata");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
}
body {
  background-color: #fff;
  text-align: center;
  font-family: 'Open Sans';
}
header h1 {
  font-size: 2em;
  padding: 0.25em;
  color: #434a54;
}
#user_data {
  text-align: right;
  max-width: 900px;
  padding: 0.25em 0;
}
#user_data .user,
#user_data .logout {
  display: inline-block;
  padding: 0.25em;
}
#user_data .user {
  margin-right: 1em;
  color: #19b395;
}
#user_data .logout {
  border: 1px solid #e74c3c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#user_data .logout a {
  color: #e74c3c;
  text-decoration: none;
  display: block;
}
#edit {
  max-width: 900px;
  padding-bottom: 0.5em;
  border-bottom: thin dashed #2c3e50;
}
#edit .box_form {
  max-width: 400px;
  text-align: right;
}
#edit .box_form label {
  text-align: left;
  display: block;
}
#edit .box_form input {
  width: 100%;
  margin: 0.25em auto;
  color: #2c3e50;
  border: thin solid #1abc9c;
  padding: 0.25em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}
#edit .box_form input[type="submit"] {
  width: auto;
  margin: 0.25em auto 0 auto;
  font-family: 'Open Sans';
  text-align: center;
  padding: 0.25em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: thin solid #1abc9c;
  background-color: #fff;
  cursor: pointer;
}
