@import "prefix.styl"
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic|Voces|Droid+Sans:400,700|Pompiere|Poiret+One|Waiting+for+the+Sunrise|Ovo|Julius+Sans+One|Open+Sans:300italic,400italic,400|Pontano+Sans')
@import url('http://fonts.googleapis.com/css?family=Nobile|Julius+Sans+One|Inconsolata')

// Vars
nav_bg = #2a2a2a
blu = #3BAFDA

nav_color = rgba(132, 147, 163, 1)
nav_color_2 = #3BAFDA
light_gray_1 = #F5F7FA
light_gray_2 = #E6E9ED

dark_gray_1 = #656D78
dark_gray_2 = #434A54
sweet_green = rgb(26, 188, 156)

*
	box-sizing(border-box)
	default_values()

body
	background-color #fff
	text-align center
	font-family 'Open Sans'

header
	// border 1px solid red
	h1
		font-size 2em
		padding 0.25em
		color dark_gray_2

#user_data
	// border 1px solid red
	text-align right
	max-width 900px
	padding 0.25em 0
	.user, .logout
		display inline-block
		padding 0.25em
	.user
		margin-right 1em
		// color #34495e
		color darken(sweet_green, 2)
	.logout
		border 1px solid #e74c3c
		border-radius(3px)
		a
			color #e74c3c
			text-decoration none
			display block

#edit
	// border 1px solid red
	max-width 900px
	// padding 0.5em 0
	padding-bottom 0.5em
	border-bottom thin dashed #2c3e50
	.box_form
		// border 1px solid green
		max-width 400px
		text-align right
		label
			text-align left
			// border 1px solid peru
			display block
		input
			width 100%
			margin 0.25em auto
			// width 400px
			color #2c3e50
			border thin solid #1abc9c
			padding 0.25em
			border-radius(3px)
			outline none
		input[type="submit"]
			width auto
			margin 0.25em auto 0 auto
			font-family 'Open Sans'
			text-align center
			padding 0.25em
			border-radius(3px)
			border thin solid #1abc9c
			// margin 1em auto 0.5em auto
			background-color #fff
			cursor pointer