@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic|Voces|Droid+Sans:400,700|Pompiere|Poiret+One|Waiting+for+the+Sunrise|Ovo|Julius+Sans+One|Open+Sans:300italic,400italic,400|Pontano+Sans");
@import url("http://fonts.googleapis.com/css?family=Nobile|Julius+Sans+One|Inconsolata");
@font-face {
  font-family: 'Kite One';
  font-style: normal;
  font-weight: 400;
  src: local("Kite One"), local("KiteOne-Regular"), url("http://themes.googleusercontent.com/static/fonts/kiteone/v1/VNHoD96LpZ9rGZTwjozAOnYhjbSpvc47ee6xR_80Hnw.woff") format("woff");
}
@font-face {
  font-family: 'menu';
  src: url("fonts/menu.eot");
  src: url("fonts/menu.eot?#iefix") format('embedded-opentype'), url("fonts/menu.woff") format('woff'), url("fonts/menu.ttf") format('truetype'), url("fonts/menu.svg#menu") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'app-icons';
  src: url("fonts/app-icons.eot");
  src: url("fonts/app-icons.eot?#iefix") format('embedded-opentype'), url("fonts/app-icons.ttf") format('truetype'), url("fonts/app-icons.woff") format('woff'), url("fonts/app-icons.svg#app-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-app"],
[class*=" icon-app"] {
  font-family: 'app-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-apptwitter:before {
  content: "\e600";
}
.icon-apptwitter2:before {
  content: "\e601";
}
.icon-apptwitter3:before {
  content: "\e602";
}
.icon-appfacebook:before {
  content: "\e603";
}
.icon-appfacebook2:before {
  content: "\e604";
}
.icon-appfacebook3:before {
  content: "\e605";
}
.icon-appgoogle-plus:before {
  content: "\e606";
}
.icon-appgoogle-plus2:before {
  content: "\e607";
}
.icon-appgoogle-plus3:before {
  content: "\e608";
}
.icon-appgoogle:before {
  content: "\e609";
}
.icon-appgoogle-plus4:before {
  content: "\e60a";
}
.icon-appyoutube:before {
  content: "\e60b";
}
.icon-appyoutube2:before {
  content: "\e60c";
}
.icon-appvimeo:before {
  content: "\e60d";
}
.icon-appvimeo2:before {
  content: "\e60e";
}
.icon-appvimeo3:before {
  content: "\e60f";
}
.icon-appgithub:before {
  content: "\e610";
}
.icon-appgithub2:before {
  content: "\e611";
}
.icon-appgithub3:before {
  content: "\e612";
}
.icon-appwindows8:before {
  content: "\e613";
}
.icon-appapple:before {
  content: "\e614";
}
.icon-appandroid:before {
  content: "\e615";
}
.icon-apptux:before {
  content: "\e616";
}
.icon-apphtml5:before {
  content: "\e617";
}
.icon-apphtml52:before {
  content: "\e618";
}
.icon-appcss3:before {
  content: "\e619";
}
.icon-appchrome:before {
  content: "\e61a";
}
.icon-appfirefox:before {
  content: "\e61b";
}
.icon-appIE:before {
  content: "\e61c";
}
.icon-appopera:before {
  content: "\e61d";
}
.icon-appsafari:before {
  content: "\e61e";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
}
body {
  background-color: #e6e9ed;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
.fs0:before {
  font-size: 1.1em;
  color: #1abc9c;
}
[data-icon]:before {
  font-family: 'menu';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-bar {
  width: 100%;
  background-color: #f5f7fa;
  border-bottom: 2px solid #d1d4d8;
  position: fixed;
  z-index: 1000;
}
.nav-hold {
  overflow: hidden;
  max-width: 900px;
}
.nav-logo {
  color: #656d78;
  padding: 0.4em 0.5em;
  font-size: 1.6em;
  float: left;
  display: block;
  letter-spacing: 1px;
  font-family: 'Voces', cursive;
  font-weight: normal;
  text-shadow: 0px 0px 0.1em #656d78;
/* testing */
}
.bluTitle {
  color: #1abc9c;
  font-size: 1em;
  letter-spacing: 2px;
  text-shadow: 0px 0px 0.1em #656d78;
/* testing */
}
.nav-list {
  float: right;
}
.nav-list li {
  float: left;
}
.nav-list li a {
  display: block;
  font-size: 1.2em;
  padding: 0.8em 0.5em;
  color: #7e8692;
  font-family: 'Pontano Sans', sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-list li a:hover {
  color: #666;
}
.nav-menu {
  display: none;
}
.sec-title {
  text-align: center;
  font-size: 2.5em;
  padding: 1em 0;
  color: #434a54;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 200;
  letter-spacing: 0.2em;
}
/* SERVICIOS... */
#bg_servicios {
  width: 100%;
  background-color: #e6e9ed;
  padding-bottom: 2em;
}
#bg_servicios .nedblu figure {
  text-align: center;
}
#bg_servicios .nedblu figure img {
  width: 90%;
  max-width: 800px;
  height: auto;
}
#bg_servicios .nedblu figure figcaption {
  border-right: 4px solid #444;
  width: 90%;
  max-width: 800px;
  text-align: right;
  color: #434a54;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  font-style: italic;
  padding: 0.25em 0.25em 0.25em 0;
  margin: 0.5em auto 0.5em auto;
}
#bg_servicios .nedblu #flex-container {
  width: 90%;
  max-width: 800px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#bg_servicios .nedblu #flex-container .service-item {
  margin: 0;
  padding: 0.5em 0;
  max-width: 480px;
  font-family: 'Open Sans', serif;
  color: #1abc9c;
}
#bg_servicios .nedblu #flex-container .service-item:nth-child(odd) {
  text-align: left;
}
#bg_servicios .nedblu #flex-container .service-item:nth-child(even) {
  text-align: right;
}
#bg_servicios .nedblu #flex-container .service-item .img_box {
  width: 100px;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#bg_servicios .nedblu #flex-container .service-item .img_box img {
  width: 100%;
  height: auto;
  padding: 0.5em;
}
#bg_servicios .nedblu #flex-container .service-item .img_box .img_2 {
  width: 70%;
}
#bg_servicios .nedblu #flex-container .service-item .img_box .img_3 {
  padding: 0;
}
#bg_servicios .nedblu #flex-container .service-item .data_box {
  width: 76%;
  padding: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
#bg_servicios .nedblu #flex-container .service-item h3 {
  font-size: 1.4em;
}
#bg_servicios .nedblu #flex-container .service-item p {
  color: #434a54;
}
#bg_servicios .nedblu #flex-container .self {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: flex-end;
  align-self: flex-end;
}
/* END SERVICIOS */
/* PORTAFOLIO */
#bg_portafolio {
  background-color: #f5f7fa;
  padding-bottom: 1em;
}
#bg_portafolio .portafolio {
  max-width: 900px;
  padding-bottom: 1em;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
}
#bg_portafolio .portafolio .client_item {
  border: 2px solid #e6e9ed;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  text-align: center;
  display: inline-block;
  margin: 0.5em;
}
#bg_portafolio .portafolio .client_item figure {
  padding: 0.5em;
}
#bg_portafolio .portafolio .client_item figure img {
  width: 200px;
  height: auto;
  display: block;
}
#bg_portafolio .portafolio .client_item p a {
  padding: 0.5em 0;
  display: block;
  color: #1abc9c;
  background-color: #e6e9ed;
  font-family: 'Voces', cursive;
  font-weight: 200;
}
/* END PORTAFOLIO */
/* EQUIPO ... */
#bg_equipo {
  width: 100%;
  background-color: #e6e9ed;
}
.equipo {
  max-width: 900px;
  padding-bottom: 1em;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
}
figure {
  padding-top: 0.5em;
}
.member {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  margin: 0.5em;
  width: 240px;
  font-family: 'Open Sans', serif;
}
.member .member-img {
  width: 120px;
  border: 4px solid #ccc;
  -webkit-box-shadow: 0px 0px 0.5em #ccc;
  -moz-box-shadow: 0px 0px 0.5em #ccc;
  -ms-box-shadow: 0px 0px 0.5em #ccc;
  -o-box-shadow: 0px 0px 0.5em #ccc;
  box-shadow: 0px 0px 0.5em #ccc;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
}
.member .member-data {
  padding: 0.25em 0;
  color: #434a54;
}
.member .member-data .member-name,
.member .member-data .member-job,
.member .member-data .member-twitter {
  padding: 0.15em 0;
}
.member .member-data .member-name {
  font-weight: 200;
}
.member .member-data .member-job {
  font-size: 0.9em;
}
.member .member-data .member-twitter {
  padding: 0.4em 0;
  font-family: 'Voces', cursive;
  font-weight: 200;
}
.member .member-data .member-twitter a {
  color: #1abc9c;
}
.member .member-data .arroba {
  color: #1abc9c;
  margin-right: 1px;
}
.member-data {
  text-align: center;
}
#bg_contacto {
  background-color: #f5f7fa;
}
.contacto {
  max-width: 900px;
}
#box-contact {
  max-width: 480px;
  padding: 0 0.5em 2em 0.5em;
}
#box-contact .yes_notification,
#box-contact .no_notification,
#box-contact .default_notification {
  margin: 1em 0;
  border: thin solid #1abc9c;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  font-family: 'Voces', cursive;
  background-color: #54d98c;
  color: #2c3e50;
}
#box-contact .yes_notification p,
#box-contact .no_notification p,
#box-contact .default_notification p {
  font-size: 0.8em;
  font-style: italic;
}
#box-contact .no_notification {
  background-color: #ed7669;
  border: thin solid #e74c3c;
}
#box-contact .default_notification {
  background-color: #f5f7fa;
  border: thin solid #c8cfd8;
  color: #656d78;
}
#box-contact .box-contact-name {
  margin: 1em 0;
}
#box-contact .box-contact-name input {
  font-family: 'Voces', cursive;
  background-color: #f5f7fa;
  border: 2px solid #1abc9c;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  color: #2c3e50;
  padding: 0.3em 0.5em;
  outline: none;
  width: 100%;
}
#box-contact .box-contact-email {
  margin-bottom: 1em;
}
#box-contact .box-contact-email input {
  font-family: 'Voces', cursive;
  background-color: #f5f7fa;
  border: 2px solid #1abc9c;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  color: #2c3e50;
  padding: 0.3em 0.5em;
  outline: none;
  width: 100%;
}
#box-contact .box-contact-message {
  margin-top: 1em;
}
#box-contact .box-contact-message textarea {
  font-family: 'Voces', cursive;
  background-color: #f5f7fa;
  border: 2px solid #1abc9c;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  color: #2c3e50;
  padding: 0.3em 0.5em;
  outline: none;
  maxlength: 140;
  resize: none;
  width: 100%;
}
#box-contact .box-contact-message .animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}
#box-contact .box-button-align {
  text-align: right;
  margin-top: 0.5em;
}
#box-contact .box-contact-button {
  font-family: 'Voces', cursive;
  background-color: #f5f7fa;
  border: 2px solid #1abc9c;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: transparent;
  color: #2c3e50;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.25em 1em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#box-contact .box-contact-button:hover {
  -webkit-box-shadow: 0px 0px 0.5em #1abc9c;
  -moz-box-shadow: 0px 0px 0.5em #1abc9c;
  -ms-box-shadow: 0px 0px 0.5em #1abc9c;
  -o-box-shadow: 0px 0px 0.5em #1abc9c;
  box-shadow: 0px 0px 0.5em #1abc9c;
}
#social_networks {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin: 2em auto 1em auto;
}
.fb-like {
  margin: 0.5em auto !important;
  text-align: center;
  padding: 0 0.5em;
}
.twitter-follow-button {
  padding: 0 0.5em;
}
#social_links {
  text-align: center;
}
#social_links span:before {
  font-size: 2em;
  margin: 0 0.25em;
}
#social_links .icon-appfacebook3:before {
  color: #3b5998;
}
#social_links .icon-apptwitter3:before {
  color: #4099ff;
}
#social_links .icon-appgoogle-plus3 {
  color: #d34836;
}
#social_links .icon-appyoutube {
  color: #c4302b;
}
#social_links .icon-appgithub2 {
  color: #434a54;
}
#footer {
  padding: 0.5em;
  background-color: #444;
  text-align: center;
}
#footer .browsers,
#footer .platforms {
  padding: 0.5em;
  display: inline-block;
}
#footer .browsers span:before,
#footer .platforms span:before {
  font-size: 2em;
  color: #abb5c2;
}
-ms-viewport {
  width: device-width;
}
viewport {
  width: device-width;
}
@media screen and (max-width: 768px) {
  .nav-bar {
    border-bottom: none;
  }
  .bluTitle {
    font-weight: 600;
  }
  .nav-menu {
    color: #666;
    text-shadow: 0px 0px 1px #434a54;
    font-size: 1.4em;
    padding: 0.6em 0em;
    float: right;
    display: block;
    cursor: pointer;
  }
  .fs1:before {
    font-size: 1.6em;
    padding: 0em 0.5em;
  }
  .nav-list {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: #fcfcfd;
    border-bottom: 2px solid #d1d4d8;
    height: 0;
  }
  .nav-open {
    height: auto;
  }
  .nav-list li {
    width: 50%;
  }
  .member {
    width: 260px;
  }
}
@media screen and (max-width: 480px) {
  .img_box {
    background-color: #f00;
    display: none !important;
  }
  .data_box {
    width: 100% !important;
  }
  .fb-like {
    display: block;
    padding: 0 1em;
  }
  .twitter-follow-button {
    display: block;
  }
}
@media screen and (max-width: 384px) {
  #contacto #box-contact .box-button-align {
    text-align: center;
  }
  #bg_servicios article figure figcaption {
    font-size: 1.4em;
  }
}
